# day01 - Трудно жить без даты!

---

Импортируем библиотеки с которыми мы уже встречались, и которые нам понадобятся в дальнейшем:

In [ ]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta, date, time

---

## Неоднозначное соответствие единиц измерения времени

В этом разделе представлены величины, имеющие несколько значений. Именно эти величины чаще всего используются в повседневной жизни, поэтому необходимо научиться их рассчитывать.

- месяц - примерно 30 суток (от 28 до 31):
    - январь, март, май, июль, август, октябрь и декабрь - 31 день
    - апрель, июнь, сентябрь, ноябрь - 30 дней
    - февраль - 28 или 29 дней
- в году от 52 до 54 недель в зависимости от способа счисления, которые различаются, например, в США и Канаде от Европы
- согласно ISO 8601, первой неделей года считается неделя, содержащая первый четверг года
    - если 1 января или 31 декабря выпадает на четверг (или 1 января выпадает на среду в високосный год), то год содержит 53 недели
    - в остальных случаях год содержит 52 недели
- год содержит 365 или 366 дней
- Високосный год определяется согласно следующим правилам:
    - если год без остатка делится на 400, то это високосный год
    - если год без остатка делится на 4 и при делении на 100 имеет остаток, то это високосный год
    - в остальных случаях год не является високосным

---

Научимся определять високосный год. Напишем для этого функцию, которая будет возвращать True, если год високосный и False, в противном случае:

In [ ]:
def day366(year):
    return (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

---

Проверим, как работает наша функция на тестовых данных 2000, 2019, 2020, 2021 и 2100 годов:

In [ ]:
years = [1900, 2000, 2019, 2020, 2021, 2100]
for j in years:
    print(j, day366(j))

1900 False
2000 True
2019 False
2020 True
2021 False
2100 False

---

# Задание 1

Поздравить знакомого с Днем Рождения коротким сообщением для большинства из нас не составляет труда. С другой стороны проявленный акт внимания создает хорошее настроение и сохраняет социальные связи. Напишите код, который определяет дату рождения в игровой форме.  
Пример:
Один человек выясняет у другого дату рождения:
   - У тебя День рождения в июне?
   - Раньше.
   - В апреле?
   - Да.
   - 15-го числа?
   - Позже.
   - 20-го?
   - Да.
   - У тебя День Рождения 20 апреля
   
Механизм взаимодействия:
1. Функция get_month() формирует запросы к функции month_of_birth(month)
2. Функция month_of_birth(month, m_o_b = number_of_month) проверяет month == m_o_b:
  - Если равны, то функция возвращает значение 'да'
  - Если month > m_o_b, то значение 'раньше'
  - Если month < m_o_b, то значение 'позже'
3. Как только получено значение 'да', get_month() прекращает работу и возвращает значение полученного month, переведенного в название месяца
4. Функция get_day() формирует запросы к функции day_of_birth(day)
5. Функция day_of_birth(day, d_o_b = number_of_day) проверяет day == d_o_b:
    - Если равны, то функция возвращает значение 'да'
    - Если day > d_o_b, то значение 'раньше'
    - Если day < d_o_b, то значение 'позже'
6. Как только получено значение 'да', get_day() прекращает работу и возвращает значение полученного day
7. Публикация результата в формате "число месяц", например, 20 апреля
Вам нужно написать код так, чтобы, поменявшись функциями get, вам не пришлось редактировать код для его выполнения. Постарайтесь разработать алгоритм, чтобы общее число запросов не превышало 10.

*Рекомендация: Для того, чтобы точно были совместимы возвращаемые функциями ответы, лучше принудительно приводить строку к строчным буквам и без пробелов. Для этого используйте следующий код:*

***s = s.lower().replace(' ', '')*** *здесь s - это строка, требующая изменений*

Дополнительная информация по работе со строковыми переменными:

[Официальная документация](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

[Справочник основных функций на русском языке](https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html)

---

In [202]:
"""Решение задания 1"""

import sys

number_of_month = int(input("Введите корректный месяц, числом: ")) # глобальная переменная месяца даты рождения, необходимо присвоение значения 
if (number_of_month > 12 or number_of_month < 1): 
  sys.exit("Вы ввели не целое число или число вне диапазона 1 - 12")

number_of_day = int(input("Введите корректную дату числом: ")) # глобальная переменная дня даты рождения, необходимо присвоение значения 
if (number_of_day < 1 or number_of_day > 31): 
  sys.exit ("Вы ввели не целое число или число вне диапазона 1 - 31")

def month_of_birth(month, m_o_b = number_of_month):
    "Функция принимает значение month, сравнивает с m_o_b и возвращает результаты сравнения"
    if month > m_o_b:
      return "раньше"
    elif month < m_o_b:
      return "позже"
    else :
      return "да"
    
def day_of_birth(day, d_o_b = number_of_day):
    "Функция принимает значение day, сравнивает его с d_o_b и возвращает результаты сравнения"
    if day > d_o_b:
      return "раньше"
    elif day < d_o_b:
      return "позже"
    else :
      return "да"
    
def get_month():
    """Функция формирует запросы month и анализирует результаты сравнения, переводит номер найденного месяца в 
    строку его названия и возвращает результат"""

    months = { 1:"января", 2:"февраля" , 3:"марта", 4:"апреля", 5:"мая", 6:"июня", 7:"июля", 8:"августа", 9:"сентября", 10:"октября", 11:"ноября", 12:"декабря" }
    start = 1;
    end = 12;
    middle = (end - start + 1) // 2
  
    while (months.get(middle) != "да"):
      if (month_of_birth(middle) == "позже"):
        start = middle + 1
        middle = middle + (end - start + 1) // 2
        if (end - middle == 1):
           return months.get(middle + 1)
      elif (month_of_birth(middle) == "раньше"):
        end = middle - 1
        middle = middle - (end - start + 1) // 2
        if (middle - start == 1):
          return months.get(middle - 1)
      else:
        return months.get(middle)
    
def get_day():
    "Функция формирует запросы day и анализирует результаты сравнения, возвращает результат"
    days = { 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:10,
            11:11, 12:12, 13:13, 14:14, 15:15, 16:16, 17:17, 18:18, 19:19, 20:20,
            21:21, 22:22, 23:23, 24:24, 25:25, 26:26, 27:27, 28:28, 29:29, 30:30, 31:31 }
    start = 1;
    end = 31;
    middle = (end - start + 1) // 2
    
    while(days.get(middle) != "да"):
      if (day_of_birth(middle) == "позже"):
        start = middle + 1
        middle = middle + (end - start + 1) // 2
        if (end - middle == 1):
          if (days.get(middle) == "да"):
            return days.get(middle)
          else:
            middle = middle + 1
      elif (day_of_birth(middle) == "раньше"):
        end = middle - 1
        middle = middle - (end - start + 1) // 2
        if (middle - start == 1):
          if (days.get(middle) == "да"):
            return days.get(middle)
          else:
            middle = middle - 1
      else:
        return days.get(middle)


def birthday():                    # функция, запускающая процесс определения даты рождения и выводящая результат
    print(get_day(), get_month())
    
birthday()

Введите корректный месяц, числом: 1
Введите корректную дату числом: 31
15
23
27
29
31
31 января

2013
313---

## Классы и методы модуля DateTime

Модуль [DateTime](https://docs.python.org/3/library/datetime.html) предназначен для управления датами и временем в Python.

In [33]:
from datetime import datetime, timedelta, date, time

In [34]:
Time_Now = datetime.now() # возвращает текущие дату и время (год, месяц, число, час, минута, секунда, микросекунда)
Time_Now

datetime.datetime(2022, 4, 3, 14, 8, 15, 438545)

In [35]:
datetime.date(Time_Now) # отсекает время и оставляет только дату

datetime.date(2022, 4, 3)

In [36]:
datetime.time(Time_Now) # отсекает дату, оставляя только время

datetime.time(14, 8, 15, 438545)

In [37]:
print(datetime.isoformat(Time_Now, sep='T'))                       # Дата и время с разделителем 'T'
print(datetime.isoformat(Time_Now, sep=' '))                       # Дата и время с разделителем ' '
print(datetime.isoformat(Time_Now, timespec = 'seconds', sep=' ')) # С детализацией до секунд

2022-04-03T14:08:15.438545
2022-04-03 14:08:15.438545
2022-04-03 14:08:15

In [38]:
datetime.isocalendar(Time_Now) # Возвращает в соответствии с ISO год, номер недели, номер дня недели

(2022, 13, 7)

In [39]:
datetime.isoweekday(Time_Now) # Номер дня недели (понедельник - 1)

7

In [40]:
new_year = datetime.strptime('2021-01-01 00:00:01', '%Y-%m-%d %H:%M:%S') # Распознаем из строки дату и время 
new_year                                                                 # согласно формату '%Y-%m-%d %H:%M:%S'

datetime.datetime(2021, 1, 1, 0, 0, 1)

In [41]:
new_year.strftime("%A, %d. %B %Y %H:%M") # преобразуем дату и время к строке

'Friday, 01. January 2021 00:00'

In [42]:
delta = Time_Now - new_year # Разница между датами, выраженная в днях, секундах и микросекундах
delta

datetime.timedelta(days=457, seconds=50894, microseconds=438545)

In [44]:
delta.days

457

In [ ]:
delta.seconds

17411

---

# Задание 2

Требуется написать код, рассчитывающий количество рабочих часов с использованием методов модуля datetime.
Требования к коду:
1. Написать функцию *input_date()*, которая запрашивает у пользователя диапазон дат, на котором считается рабочее время. Граничные даты включаются в расчет. Функция возвращает две переменные с датами *start_date, end_date*.
2. Написать функцию *date_to_datetime(start_date, end_date)*, которая преобразует даты в формат datetime. Функция возвращает переменные *start_date, end_date*, преобразованные к формату datetime.
3. Написать функцию *delta_time(start_date, end_date)*, которая рассчитывает разницу во времени. По результату работы функции, в переменную *delta* функции, которая вызвала delta_time, должно быть записано общее количество оцениваемых дней.
4. Написать функцию *day_of_the_week(start_date)*, которая возвращает номер дня недели, соответствующий началу оцениваемого периода, в переменную *start_day_of_the_week*.
5. Написать функцию *calculating_hours(start_day_of_the_week, delta)*, которая возвращает количество рабочих часов за указанный период (и, таким образом, является точкой входа в нашу программу).
6. Сформировать тестовые данные и протестировать программу.

Упрощения:
1. Пятидневная рабочая неделя, суббота и воскресенье - выходные;
2. Каждый день отрабатывается ровно 8 часов;
3. Праздники, отгулы, отпуска и больничные отсутствуют

In [ ]:
"""Решение задания 2"""

import re
from datetime import datetime, timedelta, date, time

def input_year():
  startYear = input("Input correct year, please: 1970 - today ")
  if re.findall(r'\d{4}', startYear):
    startYear = int(startYear)
    if startYear < 0:
      print("Error: wrong year!")
      return(-1)
  else:
    print("Error: wrong year!")
    return(-1)
  return startYear

def input_month():
  startMonth = input("Input correct month, please: 01 - 12 ")
  if re.findall(r'\d{2}', startMonth):
    startMonth = int(startMonth)
    if startMonth < 1 or startMonth > 12 :
      print("Error: wrong month!")
      return(-1)
  else:
    print("Error: wrong month!")
    return(-1)
  return startMonth

def input_day():
  startDay = input("Input correct day, please: 01 - 31 ")
  if re.findall(r'\d{2}', startDay):
    startDay = int(startDay)
    if startDay < 1 or startDay > 31:
      print("Error: wrong day!")
      return(-1)
  else:
    print("Error: wrong day!")
    return(-1)
  return startDay


def input_date():

  startDate = [0]

  for i in startDate:
    startDate = [input_year()]
    if i >= 0:
      startDate += [input_month()]
    if i >= 0:
      startDate += [input_day()]

  resStart = str(startDate[0]) + "-" + str(startDate[1]) + "-" + str(startDate[2])
  return resStart
    
def date_to_datetime(start_date, end_date):
    start = datetime.strptime(start_date, "%Y-%m-%d")
    end = datetime.strptime(end_date, "%Y-%m-%d")
    return [start, end]

def delta_time(start_date, end_date):
    delta = end_date - start_date
    return delta.days

def day_of_the_week(start_date):
  date = datetime.isoweekday(start_date)
  return date

def calculating_hours(start_day_of_the_week, delta):
  start = (7 - start_day_of_the_week) * 8
  days = (delta // 7) * 2
  hours = (delta - days) * 8 - start
  print(hours)
  return hours

startDate = input_date()
endDate = input_date()
startDateTime, endDateTime = date_to_datetime(startDate, endDate)
delta = delta_time(startDateTime, endDateTime)
start_day_of_the_week = day_of_the_week(startDateTime)
calculating_hours(start_day_of_the_week, delta)

In [ ]:

20"""Тестирование задания 2"""

---

Практически всегда в датасетах дата и время представлены строкой в формате ***год-месяц-день часы:минуты:секунды***, например:

In [ ]:
Date_Time = '2021-01-02 21:15:06'
Date_Time

В таком виде информация практически не может быть использована в задачах машинного обучения. Поэтому необходимо научиться преобразовывать эту строку и извлекать из нее полезную информацию. Мы уже рассмотрели библиотеку DateTime и можно пользоваться ею, но можно воспользоваться и просто обработкой строки, зная ее формат. Например, мы можем разбить строку на дату и время:

In [ ]:
Date, Time = Date_Time.split()
Date, Time

Теперь мы можем разбить дату на год, месяц и день, а время - на часы, минуты и секунды:

In [ ]:
Y, M, D = Date.split('-')
print(Y, M, D)
h, m, s = Time.split(':')
print(h, m, s)

В данном способе есть недостаток - результат у нас записан в виде строк:

In [ ]:
type(Y)

Чтобы получить целочисленные значения, можно модифицировать код следующим образом:

In [ ]:
Y, M, D = map(int, Date.split('-'))
print(Y, M, D)
h, m, s = map(int, Time.split(':'))
print(h, m, s)

In [ ]:
type(Y)

---

# Задание 3

Вам нужно написать функцию, которая из входного объекта datetime будет выделять следующую информацию:

1. Дата - в формате ***год-месяц-день***;
2. Год;
3. Месяц;
4. День;
5. Порядковый номер недели;
6. День недели (например, понедельник);
7. Время - в формате ***часы-минуты-секунды***;
8. Часы;
9. Минуты;
10. Секунды;
11. Количество секунд с начала дня.

Эту функцию необходимо применить к таблице, в которой уже есть колонка с datetime'ами, и добавить в эту таблицу 11 новых столбцов, содержащих в себе значения из пп. 1-11. Очередность и название столбцов такие же, как в списке выше.

Добиться результата можно различными способами.

Для получения исходной информации необходимо выполнить код:

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')   # чтобы можно было оттуда считать файл с данными для этого задания

In [ ]:
# здесь и далее вам понадобится менять пути к файлам, поскольку в вашей системе вы их можете записать в другое место
import pandas as pd
data = pd.read_excel('/content/drive/MyDrive/data/Даты.xlsx')
data

Добавлять значения в таблицу можно следующим образом:

In [ ]:
from datetime import datetime, timedelta, date, time
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
data = pd.read_excel('/content/drive/MyDrive/data/Даты.xlsx')
data['datetime'] = pd.to_datetime(data['datetime'], errors='coerce')
data['Дата'] = data['datetime'].dt.date
data['Время'] = data['datetime'].dt.time
data['Год'] = data['datetime'].dt.year
data['Месяц'] = data['datetime'].dt.month
data['День'] = data['datetime'].dt.day
data['Порядковый номер недели'] = data['datetime'].dt.isocalendar().week
data['День недели'] = data['datetime'].dt.weekday
data['Часы'] = data['datetime'].dt.hour
data['Минуты'] = data['datetime'].dt.minute
data['Секунды'] = data['datetime'].dt.second
data['Количество секунд с начала дня'] = data.apply(lambda row: row['Секунды'] + row['Минуты']*60 + row['Часы']*3600, axis=1)
data

Сохранить полученный результат можно следующим образом:

In [68]:
nik_name = 'ebalgruu'
data.to_excel('/content/drive/MyDrive/data/Даты '+nik_name+'.xlsx', index=False)

Для выполнения задания вам нужно будет сохранить новый файл в ту же папку, откуда мы берем файл Даты.xlsx

Good_luck = 'Удачи!'